# Configurações do Servidor
PORT=8001

# Configurações do Banco de Dados
DATABASE_URL=mongodb://localhost:27017
MONGO_DB=back-jr

# Configurações de Autenticação
JWT_SECRET=sua_chave_secreta_super_segura_aqui

# Configurações de CORS
CORS_ORIGIN=http://localhost:5173

# Configurações de PIX (Mock)
PIX_PROVIDER_MOCK=true

